body {
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
    url('../../img/cards/fase2/bg-fase2.png') no-repeat;
  background-size: cover; 
  background-position: center; 
}

.grid {
  grid-template-columns: repeat(4, 1fr);
  max-width: 850px;
}

.card {
  max-width: 120px;
}