body {
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
    url('../../img/cards/fase1/bg-ricks.png');
  background-size: cover; 
  background-position: center; 
}

.grid {
  grid-template-columns: repeat(4, 1fr);
  max-width: 700px;
}

.card {
  max-width: 130px;
}