/* SECTION */
#skills {
  padding: 60px 20px;
  text-align: center;
}

/* TITULOS */
#skills h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skills-subtitle {
  margin: 30px 0 15px;
  font-size: 1.2rem;
  opacity: 0.8;
}

/* CONTAINER */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD */
.skill-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  width: 120px;
  transition: 0.3s;
  cursor: default;
}

/* ÍCONE */
.skill-card i {
  font-size: 45px;
  margin-bottom: 10px;
}

/* TEXTO */
.skill-card span {
  display: block;
  font-size: 0.9rem;
}

/* HOVER */
.skill-card:hover {
  transform: translateY(-6px) scale(1.05);
}