/* =========================
   CORES PADRÃO (LIGHT)
========================= */

:root {
  --background-color: #ffffff;
  --text-color: #333;
  --title-color: #222;
  --card-bg: rgba(255, 255, 255, 0.95);
  --section-bg: #f9f9f9;
  --skill-bg: rgba(255, 255, 255, 0.05);
  --btn-light-bg: #ffffff;
}

/* =========================
   DARK MODE (MANUAL)
========================= */

body.dark-mode {
  --background-color: #121212;
  --text-color: #ddd;
  --title-color: #fff;
  --card-bg: rgba(30, 30, 30, 0.9);
  --section-bg: #1e1e1e;
  --skill-bg: rgba(255, 255, 255, 0.1);
  --btn-light-bg: #333;
}

/* =========================
   APLICANDO AS CORES
========================= */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggle-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 14px;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.theme-toggle-btn:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 4px;
}