/* =========================
   CORES PADRÃO (LIGHT)
========================= */

:root {
  --background-color: #ffffff;
  --text-color: #333;
  --title-color: #222;
  --card-bg: rgba(255, 255, 255, 0.95);
}


/* =========================
   DARK MODE (MANUAL)
========================= */

.dark-mode {
  --background-color: #121212;
  --text-color: #ddd;
  --title-color: #fff;
  --card-bg: rgba(30, 30, 30, 0.9);
}


/* =========================
   APLICANDO AS CORES
========================= */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.about-container {
  background: var(--card-bg);
}

.about h2 {
  color: var(--title-color);
}

.about p {
  color: var(--text-color);
}
.fa-sun {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 14px;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}